<h2>Ranking</h2>

<div class="btn btn-info btn-sm"><%= link_to 'Geral', "/ranking/geral" %></div>

<% if @questionarios.count > 0 %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @questionarios.each do |questionario| %>
          <tr>
            <td><%= questionario.nome %></td>
            <td>
              <div class="btn btn-info btn-sm"><%= link_to 'Acessar', "/ranking/#{questionario.id}" %></div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>